.codeSnippet {
    position: relative;
    text-align: left;
    &-btn {
        position: absolute;
        z-index: 30;
        background-color: transparent;
        top:.9rem;
        right: .9rem;
        border: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
        img {
            width: 2rem;
        }
    }
    pre {
        border-radius: .3rem;
    }
}

#light .codeSnippet {
    background-color: $codeLight;
}

#dark .codeSnippet {
background-color: $codeDark;
}